
.navContactBtn{
  background-color: #47574a;
  border-color: #395245;
  height: max-content;
  font-family: Radio Canada;
}
.submitContactBtn{
  background-color: #47574a;
  border-color: #395245;
  height: max-content;
  font-family: Radio Canada;
}
.navMediaMargin{
  padding: 5rem;
}
.navContactBtn:hover{
  background-color: #647c6f;
  border-color: #395245;
  font-family: Radio Canada;

}

body, html{

margin:0;
  height: 100%;
  padding: 0;
  background-repeat: none;
  background-size: cover;
  overflow: hidden;
/* 
  background: rgb(160,192,145);
  background: linear-gradient(180deg, rgba(160,192,145,1) 0%, rgba(160,192,145,0.14751838235294112) 49%); */
}



/*TESTING Backgrounds */

body.home {
  background-image: url('/src/assets/bgimages/homeBG.png');
}

body.about {
  background: rgb(160,192,145);
  background: linear-gradient(180deg, rgba(160,192,145,1) 0%, rgba(160,192,145,0.14751838235294112) 49%);
}

body.projects {
  background-image: url('/src/assets/bgimages/orangeComputer.png');
}

body.skills {
  background: rgb(192, 180, 145);
  background: linear-gradient(180deg, rgb(180, 141, 215) 0%, rgba(183, 120, 198, 0.24) 49%);
}

body.contact {
  background-image: url('/src/assets/bgimages/pinkKeyboard.jpg');
}


















.navBorder{
  border-bottom:  5px;;
  border-color: white;
}
.valerie{

  font-family: Radio Canada;
  font-weight: 800;
  font-size: 40px;
  color: white;
  display: flex;
  align-items: flex-end;
  margin-top: 0rem;

  padding-bottom: 0rem;
 z-index: 1;

}
.valerieBody {
  font-family: Radio Canada;
  font-weight: 800;
  font-size: 40px;
  color: white;
  display: flex;
  align-items: flex-end;
  margin-top: 0rem;
  padding-bottom: 0rem;
  z-index: 1;
  position: relative;
  animation: valerieslideIn 1s ease-out forwards; /* Correct the animation name */
}

@keyframes valerieslideIn {
  from {
    left: -70%;
  }
  to {
    left: 0; 
  }
}
.homeTxtBody {
  animation: homeTxtSlideIn 1s ease-out forwards;
}

@keyframes homeTxtSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

  .description-text{
    color: rgb(80, 127, 145)
  }
.about{
  font-family: Radio Canada;
  font-weight: 400;
  font-size: 40px;
  margin-top: 60px;
  color: white;

}
.skills{
  font-family: Radio Canada;
  font-weight: 400;
  font-size: 40px;
  margin-top: 60px;
  color: white;
}
.skillsLine{
  border-top: 8px solid white; 
  width: 18%; 
  margin-left: 10px;


 

}
.navLinkColor{
  color: white;
  font-weight: 500;
  font-family: Radio Canada;
  font-size: large;
}
.navLinkColor:hover{
  color:#395245
}
.lampImg{
  opacity: 50%;
  height: 500px;
  width: 800PX;
  z-index: 0;
  display: flex;
  justify-content: center;

}
.imgCol{
  margin-top: 5rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}



  .line {
    border-top: 10px solid white; 
    width: 45%; 
    margin: 0rem;
    padding-bottom: 2rem;

   
  }
  .aboutLine{
    border-top: 8px solid white; 
    width: 18%; 
    margin: 0rem;
    padding-bottom: 3rem;
    
  }

  .lineNav{
    border-top: 5px solid white; 
    width: 100%; 
    margin: 0rem;
    padding-bottom: 0rem;

  }
.homeTxtBold{
 
  font-family: Radio Canada;
  font-weight: 900;
  font-size: 30px;
  margin-left: 5rem;
 padding-left: 1rem;
  color: #DAF8BC

}
.homeTxtReg{
 
  font-family: Radio Canada;
  font-weight: 400;
  font-size: 20px;
  margin-left: 5rem;
  padding-left: 1rem;
  color: #EDFCE8;

}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
}
/* .containerHomeBg{
  background-image: url('/src/assets/bgimages/homeBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 0;
  padding: 0;
  height: 100vh;
} */
/* .containerSkillsBg{
 
  margin: 0;
  height: 100%;
  padding: 0;
  background-repeat: none;
  background-size:auto;
  background-attachment: scroll;
  background: rgb(192, 180, 145);
  background: linear-gradient(180deg, rgb(180, 141, 215) 0%, rgba(183, 120, 198, 0.24) 49%);
} */
/* .containerProjectsBg{
 
  margin: 0;
  background-repeat: none;
  background-size: cover;
  background-attachment: scroll;
  overflow: hidden;  
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  background-image: url('/src/assets/bgimages/orangeComputer.png');

} */

/* .containerContactBg{
  background-image: url('/src/assets/bgimages/pinkKeyboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 0;
  padding: 0;
  height: 100vh;
} */

.arrowDwnBtn{
  display: flex;
  justify-content: end;
  height: 60px;
  width: 60px;
  margin: 80px;

}
.aboutBG{
 margin-bottom: 0;
 padding: 0;
}
.aboutPic{
  margin-left: 3rem;
  height: 450px;
  width: 320px;
  opacity: 80%;
  margin-bottom: 5rem;
}
.animated-pic {
  position: relative;
  right: -100%; /* Initially positioned outside the viewport on the right */
  animation: slideIn 1s ease-out forwards; /* Animation duration, timing function, and fill mode */
}



@keyframes slideIn {
  to {
    right: 0; /* Move the image to the right edge of the viewport */
  }
 
}
.aboutBold{

  font-family: Radio Canada;
  font-weight: 900;
  font-size: 45px;
  margin-left: 5rem;
 padding-left: 1rem;
  color: #3c5126
  
}
.aboutReg{
  font-family: Radio Canada;
  font-weight: 400;
  font-size: 40px;
  margin-left: 0rem;
  padding-left: 0rem;
  color: #3c5126;
  margin-bottom: 5rem;
}

.projectsHeader{
  font-family: Radio Canada;
  font-weight: 400;
  font-size: 40px;
  margin-top: 60px;
  margin-left: 3rem;
  color: white;

}
.projectLine{
  border-top: 8px solid white; 
  width: 15%; 
  margin-top: 0;
  margin-left: 3rem;
  padding-bottom: 3rem;

}

.carousel-container {
  position: relative;
  width: 100%;
}

.carousel {
  max-width: 600px; 
  margin: 0 auto;
}

.description-container {
  text-align: center;
  margin-top: 20px; 
}

.icon-container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  
  width: 100%;
  height: 100vh;

}

.icon1 {
 margin: 1rem;
  padding: 1rem;
  width: 120px;
  height: 120px;
  animation: float 3s infinite ease-in-out;
  outline: none; 
  background-color: transparent; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.icon2{
  margin: 0rem;
  padding: 1rem;
  width: 250px;
  height: 100px;
  animation: float 3s infinite ease-in-out;
  outline: none; 
  background-color: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5%;

}
.formContact{
  display: flex;
  flex-direction: column;
  justify-content: end;

}
.dwnArrw{
  height: 60px;
  width: 60px;
}
.spaceHome{
  margin-top: 60px;
}
.form-control{
  background-color: #ffffff54;
}
.contactTextColor{
  color: rgb(253, 249, 249);
}

@media (max-width: 425px) {
  .valerieBody {
   display: flex;
   justify-content: center;
  }
}
@media (max-width: 991px) {
  .valerie {
    display: flex;
    justify-content: center;
    font-family: Radio Canada;
    font-weight: 800;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: flex-end;
    margin-top: 0rem;
  
  
    padding-bottom: 0rem;
   z-index: 1;
  }
}
@media (max-width: 768px) {
  .containerHomeBg {
    height: 100%; /* Adjust the height as needed */
  }
  .aboutMediaQ{
  
   align-items: center;

  }
  .aboutMedia{
    font-size: 35px;
  }
  .aboutMediaBold{
    font-size: 30px;
  }
  .aboutMediaReg{
    font-size: 28px;
  }
  .navMedia768{
    margin:4px;
  }
  .navMediaMargin{
    margin: 2px;
    padding: 2px;
  }
  .valerie{
    margin-left: 30px;
  }
  .aboutPic{
    height: 60%;
    width: 100%;

  }

  .FloatingIconsContain{
    margin-top: 210px;
    margin-bottom: 210px;

  }
  
}